@import url(style.css);


.shopping-cart{
    display: flex;


    height: 148px;
    width: 100%;
    background: #F8F3F4;
}

.shopping-cart__text{
    display: flex;
  
    flex-direction: row;
    align-items: center;
    margin-left: 230px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #F16D7F;
}

.your-cart{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 96px;

    gap: 40px;
    max-width: 1140px;   
}

.your-cart__staff-box{
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-left: 7px;
    height: 306px;
    width: 652px;
    box-shadow: 17px 19px 24px 0px #00000021;
}

.your-cart__photo{
    height: 306px;
    width: 262px;
}

.your-cart__text-block{
    margin-top: 22px;
    height: 306px;
    width: 210px;
}

.your-cart__text-block__title{
    position: relative;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #222222;
}

.your-cart__text-block__main-text{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #575757;
}