
.header{
    position: absolute;
    height: 75px;
    width: 1600;
    
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 98.04%;
    
    border-radius: 0px;


    background: #222222;
    
};

.header__logo{
    position: absolute;

    height: 38px;
    width: 111px;

    left: 14.44%;
    right: 78.63%;
    top: 22%;
    bottom: 98.54%;

    border-radius: 0px;

}


.header__logo__icon1{
    position: absolute;

    top: 17px;
    left: 230px;

    border-radius: 0px;
}

.header__logo__icon2{
    position: absolute;

    top: 29px;
    left: 315px;

    border-radius: 0px;

    
}

.header__buttons{
    position: absolute;

    left: 75.06%;
    right: 14.44%;
    top: 36%;
    bottom: 64%;
    

    border-radius: 0px;

}

.header__buttons__button-menu{
    position: absolute;

    top: 2px;
    left: 0px;

    border-radius: 0px;

}

.header__buttons__button-profile{
    position: absolute;
    
    left: 65px;

    border-radius: 0px;

}

.header__buttons__button-cart{
    position: absolute;
    
    left: 128px;

    border-radius: 0px;
}


.background{
    position: absolute;
    height: 764px;
    width: 1600px;
    top: 75px;
    left: 0%;
    border-radius: 0px;


    background: #F1E4E6;
}

.background__photo{
    position: absolute;
    width: 800.58px;
    height: 764px;
    left: 0%;
}

.background__text-block{
    position: absolute;
    width: 405px;
    height: 93.1px;
    left: 864px;
    top: 290px;
   
}

.background__decoration{
    position: absolute;

    height: 92px;
    width: 12px;

    border-radius: 0px;
    background: #F16D7F;
}


.background__text-block__text_main{
    position: absolute;

    left: 7%;
    top: 2%;

    font-family: 'Lato';
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;


    color: #222222;
}

.background__text-block__text_secondary{
    position: absolute;

    left: 7%;
    top: 60%;
   
    font-family: 'Lato';
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;


    color: #222222;
}

.background__text-block__text_secondary_accent{
    position: absolute;

    left: 65%;
    top: 60%;
   
    font-family: 'Lato';
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;

    color: #F16D7F;
}


.wrapper {
    position: relative;

    height: 470px;
    width: 1140px;
    left: 221px;
    top: 897px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 260px;
    column-gap: 30px;
    row-gap: 30px;
  }
  
  .wrapper__blocks{
    height: 260px;
    width: 360px;
  }

  .wrapper__second-row{
    grid-row: 1 / 3;
  }

  .wrapper__blocks__text-block{
    position: absolute;

    height: 50px;
    width: 154px;
    
  }

  .wrapper__blocks__text-block__white-text{
    position: relative;
    left: 104px;
    top: 104px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
  }

  .wrapper__blocks__text-block__pink-text{
    position: relative;
    left: 104px;
    top: 109px;

    font-family: 'Lato';
    font-size: 24px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;

    color: #F16D7F;
  }

  .wrapper__blocks__text-block_second-row{
    position: absolute;

    height: 50px;
    width: 159.72px;
    
  }

  .wrapper__blocks__text-block__white-text_second-row{
    position: relative;
    left: 492px;
    top: 64px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
  }
  .wrapper__blocks__text-block__pink-text_second-row{
    position: relative;
    left: 492px;
    top: 70px;

    font-family: 'Lato';
    font-size: 24px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;

    color: #F16D7F;
  }


  .wrapper2 {
    position: relative;

    height: 1192px;
    width: 1140px;
    left: 221px;
    top: 1098px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 582px;
    grid-auto-columns: 360px;
    column-gap: 30px;
    row-gap: 30px;
  }
  

  .wrapper2__blocks{
    
    height: 581px;
    width: 360px;

    background: #F8F8F8;
  }

  .wrapper2__blocks__text-block{
    position: absolute;

    height: 116.7px;
    width: 314.8px;
    
  }


  .wrapper2__blocks__text-block__title{
    position: relative;
    left: 18px;
    top: 25px;


    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    color: #000000;
  }

  .wrapper2__blocks__text-block__main-text{
    position: relative;
    left: 18px;
    top: 38px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    color: #5D5D5D;
  }

  .wrapper2__blocks__text-block__price{
    position: relative;
    left: 19px;
    top: 56px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #F16D7F;
  }


  .shop-title{
    position: absolute;
    left: 710.36px;
    top: 1470px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */


    color: #222222;
  }

  .shop-main-text{
    position: absolute;
    left: 631px;
    top: 1512px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #9F9F9F;
  }


  .browse-box{
    position: absolute;
    height: 47px;
    width: 211px;
    left: 695px;
    top: 2817px;

    border: 1px solid #FF6A6A;
  }

  .browse-box__text{
    position: absolute;

    left: 38px;
    top: 14px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: #F26376;
  }

  .feature-box{
    position: absolute;
    height: 341px;
    width: 1600px;
    left: 0px;
    top: 2960px;
    border-radius: 0px;
    
    background: #222224;
  }

  .feature-box__wrapper{
    position: relative;

    height: 134px;
    width: 1140px;
    left: 221px;
    top: 103px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 134px;
    grid-auto-columns: 360px;
    column-gap: 30px;
    row-gap: 30px;
  }

  .feature-box__wrapper__blocks{
    height: 134px;
    width: 360px;
  }

  .feature-box__wrapper__blocks__img{
    position: relative;

    height: 40px;
    width: 40px;

    left: 166px;
    top: 0px;
  }

  .feature-box__wrapper__blocks__text-block{
    position: relative;

    height: 74px;
    width: 360px;
    left: 4px;
    top: 19px;

  }

  .feature-box__wrapper__blocks__text-block__title-text{
    position: relative;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    text-align: center;
    /* identical to box height */

    color: #FBFBFB;
  }


  .feature-box__wrapper__blocks__text-block__main-text{
    position: relative;

    height: 24px;
    width: 320px;
    
    left: 25px;
    top: 16px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;

    color: #FBFBFB;
  }

  .subscribe-box{
    position: absolute;

    width: 1600px;
    height: 448px;
    left: 0px;
    top: 3301px;

  }

  .subscribe-box__subscribe-info-block{
    position: absolute;
    width: 359.45px;
    height: 225px;
    left: 230.29px;
    top: 97px;
  }

  .subscribe-box__subscribe-info-block__photo{
    position: relative;
    width: 96px;
    height: 96px;
    left: 122px;
    top: 0px;
  }

  .subscribe-box__subscribe-info-block__text{
    position: relative;

    height: 99px;
    width: 359px;

    left: 0px;
    top: 30px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #222224;
  }

  .subscribe-box__subscribe-info-block__text_italic{
    position: relative;

    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #222224;
  }

  .subscribe-box__subscribe{
    position: absolute;
    height: 142px;
    width: 557px;
    left: 810px;
    top: 140px;
  }

  .subscribe-box__subscribe__text-block{
    height: 61px;
    width: 557px;
    left: 810px;
    top: 140px;
  }

  .subscribe-box__subscribe__text-block__title{
    position: relative;
    left: 0px;
    top: 10px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;

    text-align: center;

    color: #222224;
  }

  .subscribe-box__subscribe__text-block__main-text{
    position: relative;
    left: 4px;
    top: 7px;

    font-family: 'Lato';
    font-size: 18px;
    font-weight: 400;
    line-height: 30.1px;
    text-align: center;

    color: #222224;
  }

  .subscribe-box__subscribe__accept-block{
    position: absolute;
    height: 49px;
    width: 356px;
    left: 107px;
    top: 103px;
    border-radius: 0px;
  }

  .subscribe-box__subscribe__accept-block__email{
    position: absolute;
    height: 49px;
    width: 256px;
    border-radius: 20px 0px 0px 20px;
    background: #E1E1E1;
  }

  .subscribe-box__subscribe__accept-block__email__text{
    position: relative;
    left: 22px;
    top: 16px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #222224;

    opacity: 0.67;
  }

  .subscribe-box__subscribe__accept-block__button{
    position: relative;
    height: 49px;
    width: 100px;
    left: 256px;
    top: 0px;

    border-radius: 0px 20px 20px 0px;
    background: #F16D7F;;
  }

  .subscribe-box__subscribe__accept-block__button__text{
    position: relative;
    left: 22px;
    top: 16px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
  }


  .footer{
    position: absolute;
    height: 79px;
    width: 1600px;
    left: 0px;
    top: 3749px;
    background: #222224;
  }

  .footer__text{
    position: absolute;
    height: 19.2px;
    width: 332px;
    left: 235px;
    top: 30px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;

    color: #FBFBFB;
  }

  .footer__logos{
    position: relative;

    height: 32px;
    width: 32px;
    left: 1222px;
    top: 24px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 32px;
    grid-auto-columns: 32px;
    column-gap: 7.3px;

    border: #000000;
  }





  





