$main-font-color: #222222;
$footer-color: #222224;
$accent-font-color: #F16D7F;
$hover-text-color: #ffffff;
$hover-color: #F16D7F;
$notify-color: #F16D7F;
$category-font-color: #FFFFFF;
$feature-font-color: #FBFBFB;
$decoration-color: #F16D7F;
$submit-button-color: #F16D7F;
$submit-button-color-hover: #b84050;
$brand-background-color: #F1E4E6;
$shopping-cart-background: #F8F3F4;
$box-shadow-color: #00000021;
$form-fields-color: #B1B1B1;
$form-fields-border-color: #A4A4A4;
$sub-total-price-color: #4A4A4A;

@mixin size ($width, $height){
    width: $width;
    height: $height;
}
@mixin display ($display: flex, $flex-direction: row, $align-items: normal, $flex-wrap: nowrap, $justify-content: flex-start){
    display: $display;
    flex-direction: $flex-direction;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
    justify-content: $justify-content;
}

.shopping-cart{
    display: flex;
    @include size(100% , 148px);
    height: 148px;
    width: 100%;
    background: $shopping-cart-background;

    &__text{
        @include display (flex,  row,  center,  nowrap,  flex-start);
        margin-left: 230px;
        font-size: 24px;
        line-height: 29px;
        color: $accent-font-color;
        @media (max-width: 1025px) and (min-width: 750px){
            margin-left: 20px;
        }
        @media (max-width: 750px){
            margin-top: -20px;
            margin-left: 100px;
        }
    }
}

.your-cart{
    @include display (flex, row, center, wrap);
    margin-top: 96px;
    margin-left: 15px;
    column-gap: 128px;
    max-width: 1140px;
    @media (max-width: 1025px) and (min-width: 750px){
        margin-top: 57px;
        margin-left: -85px;
    }
    @media (max-width: 750px){
        margin-top: 57px;
        margin-left: 0px;
    }  

    &__block{
        @include display (flex,  column,  normal,  nowrap,  flex-start);
        gap: 40px;
        @include size(652px, 800px);
        @media (max-width: 750px){
            @include size(358px, 480px);
        }  
    }

    &__block_left{
        @include display (flex,  column,  normal,  nowrap,  flex-start);
        gap: 55px;
        @include size(360px, 800px);
        @media (max-width: 1025px) and (min-width: 750px){
            @include display (flex,  row,  normal,  nowrap,  flex-start);
            margin-left: 80px;
            margin-top: 10px;
            @include size(730px, 425px);
            gap: 15px;
        } 
        @media (max-width: 750px){
            @include display (flex,  column,  normal,  nowrap,  flex-start);
            margin-left: 0px;
            margin-top: 0px;
            @include size(358px, 600px);
            gap: 0px;
        }   
    }

    &__block__buttons-block{
        @include display (flex, row, center);
        gap: 193px;
        margin-top: 33px;
        @include size(651px, 49px);
        @media (max-width: 1025px) and (min-width: 750px){
            gap: 45px;
            margin-top: 23px;
            margin-left: 45px;
        }
        @media (max-width: 750px){
            @include size(350px, 49px);
            gap: 10px;
            margin-top: -10px;
            margin-left: 0px;
        } 

        &__clear,
        &__continue{
            @include size(239px, 49px);
            border: 1px solid #A4A4A4;
            text-transform: uppercase;;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            background: #FFFFFF;
            @media (max-width: 750px){
                @include size(175px, 33px);
                font-size: 12px;
                line-height: 14px;
                text-transform: capitalize;
            }
        }

        &__clear:hover{
            color: $hover-text-color;
            background:  $hover-color;
        }

        &__continue{
            width: 226px;

            &:hover{
                color: $hover-text-color;
                background:  $hover-color;
            }
        }
    }

    &__block__staff-box{
        @include display (flex);
        gap: 32px;
        height: 306px;
        box-shadow: 17px 19px 24px 0px $box-shadow-color;
        @media (max-width: 1025px) and (min-width: 750px){
            @include size(734px, 306px);
        }
        @media (max-width: 750px){
            margin-top: -15px;
            @include size(358px, 188px);
        } 
    } 

    &__form{
        @include display (flex,  column);
        margin-top: 17px;
        gap: 20px;
        @include size(360px, 272px);
        box-shadow: 0px 0px 0px 0px $box-shadow-color;

        &__title{
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: $main-font-color;
        }

        &__fields{
            @include size(360px, 43px);
            padding: 0rem 1.1rem;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: $form-fields-color;
            border: 1px solid $form-fields-border-color;
        }

        &__button{
            margin-top: 5px;
            @include size(103px, 34px);
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            color: #4A4A4A;
            background-color: #FFFFFF;
            border: 1px solid $form-fields-border-color;

            &:hover{
                color: $hover-text-color;
                background:  $hover-color;
            }
        }
    }

    &__photo{
        @include size(262px, 306px);
        @media (max-width: 750px){
            @include size(144px, 188px);
        }
    }  

    &__text-block{
        @include display (flex,  column,  normal,  nowrap,  flex-start);
        gap: 43px;
        margin-top: 22px;
        @include size(210px, 306px);
        @media (max-width: 750px){
            margin-top: 10px;
            margin-left: -15px;
            @include size(138px, 36px);
            gap: 23px; 
        }

        &__title{
            font-size: 24px;
            line-height: 29px;
            color: $main-font-color;
            @media (max-width: 750px){
                font-size: 16px;
                line-height: 19px;
            }
        }

        &__main{
            @include display (flex,  column,  normal,  nowrap,  flex-start);
            gap: 6px;
            margin-top: -2px;
            @include size(210px, 100px);
            @media (max-width: 750px){
                @include size(144px, 200px);
                gap: 4px;
            }

            &__text, 
            &__text__accent{
                font-size: 22px;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;
                color: #575757;
                @media (max-width: 750px){
                    font-size: 14px;
                    line-height: 17px;
                }
            }

            &__text__accent{
                color: $accent-font-color;
            }
        }
    }

    &__quantity{
        margin-left: 25px;
        width: 37px;
        text-align: center;
        font-size: 18px;
        line-height: 16px;
        color: #656565;
        border: 1px solid $form-fields-border-color;
        @media (max-width: 750px){
            @include size(24px, 15px);
            font-size: 10px;
            line-height: 12px;
        }
    }

    &__cheque{
        @include display (flex, column, center);
        gap: 19px;
        @include size(360px, 214px);
        text-align: end;
        background: #F5F3F3;
        @media (max-width: 1025px) and (min-width: 750px){
            margin-left: 0px;
            margin-top: 55px;
        }
        @media (max-width: 750px){
            margin-left: 0px;
            margin-top: 45px; 
        }
        
        &__text-box{
            @include display (flex,  column,  normal,  nowrap,  flex-start);
            gap: 12px;
            margin-top: 41px;
            margin-left: 47px;
            @include size(250px, 45px);

            &__sub-total, 
            &__sub-total_price{
                font-size: 11px;
                line-height: 13px;
                color: $total-price-color;
            }

            &__sub-total_price{
                margin-left: 25px;
            }

            &__grand-total,
            &__grand-total_price{
                margin-right: 2px;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: $total-price-color;
            }

            &__grand-total_price{
                margin-left: 22px;
                font-weight: 700;
                line-height: 19px;
                font-size: 16px;   
                color: $accent-font-color;
            }
        }

        &__line{
            @include size(275px, 1px);
            background: #E2E2E2;
        }

        &__submit{
            @include size(273px, 50px);
            border: 0px;
            background: $submit-button-color;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;

            &:hover{
                background: $submit-button-color-hover;
            }
        }
        
    }
}