$main-font-color: #222222;
$footer-color: #222224;
$accent-font-color: #F16D7F;
$hover-text-color: #ffffff;
$hover-color: #F16D7F;
$notify-color: #F16D7F;
$category-font-color: #FFFFFF;
$feature-font-color: #FBFBFB;
$decoration-color: #F16D7F;
$submit-button-color: #F16D7F;
$submit-button-color-hover: #b84050;
$brand-background-color: #F1E4E6;
$shopping-cart-background: #F8F3F4;
$box-shadow-color: #00000021;
$form-fields-color: #B1B1B1;
$form-fields-border-color: #A4A4A4;
$sub-total-price-color: #4A4A4A;

@mixin size ($width, $height){
    width: $width;
    height: $height;
}
@mixin display ($display: flex, $flex-direction: row, $align-items: normal, $flex-wrap: nowrap, $justify-content: flex-start){
    display: $display;
    flex-direction: $flex-direction;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
    justify-content: $justify-content;
}

.header{
    @include display (flex, row, center, nowrap, center);
    height: 75px;
    gap: 54%;
    width: 100%;
    background: $main-font-color;

    &__logo-and-search{
        @include display (flex, row, center);
        @include size(111px , 38px);
        gap: 35%;
        @media (max-width: 750px){
            margin-left: 25px;
        }

        &_logo{
            @include size(44px , 38px);
        }

        &__search{
            margin-top: 10px;
            @include size(26px , 27px);
        }
    }

    &__buttons{
        @include display (flex, row, center);
        @include size(111px , 38px);
        gap: 32%;
        margin-top: 10px;
        margin-right: 2.5%;
        @media (max-width: 750px){
            gap: 0%;
            margin-top: 10px;
            margin-right: 0%;
        }

        &__button-menu{
            @include size(32px , 23px);
        }

        &__button-profile{
            @include size(29px , 29px);
            @media (max-width: 750px){
                @include size(0px , 0px);
            }
        }

        &__button-cart{
            @include size(41px , 37px);
            @media (max-width: 750px){
                @include size(0px , 0px);
            }

            &__cart{
                @include size(32px , 29px);
                @media (max-width: 750px){
                    @include size(0px , 0px);
                }
            }

            &__notify{
                position: absolute;
                margin-left: 20px;
                margin-top: -5px;
                @include size(19px , 19px);
                background: $notify-color;
                border-radius: 50%;
                @media (max-width: 750px){
                    margin-left: 0px;
                    margin-top: 0px;
                    @include size(0px , 0px);
                    border-radius: 0%;
                }

                &__text{
                    position: relative;
                    margin-left: 5px;
                    font-size: 15px;
                    line-height: 14px;
                    text-align: center;
                    color: $category-font-color;
                    @media (max-width: 750px){
                        font-size: 0px;
                    }
                }
            }
        }
    }
}
