.shop__blocks__img:hover{
    filter: brightness(30%);
}

.browse-box:hover{
    color: #ffffff;
    background:  #F16D7F; 
}

.subscribe-box__subscribe__accept-block__button:hover {
    background: #E05C6E;
}
  
.subscribe-box__subscribe__accept-block__button:active {
    background: #b84050;
}

.your-cart__cheque__submit:hover{
    background:  #b84050;
}

.your-cart__block__buttons-block__clear:hover{
    color: #ffffff;
    background:  #F16D7F;
}

.your-cart__block__buttons-block__continue:hover{
    color: #ffffff;
    background:  #F16D7F;
}

.your-cart__form__button:hover{
    color: #ffffff;
    background:  #F16D7F;
}