@media (max-width: 1025px) and (min-width: 750px){
    body{
      width: 100%;
    }
    .brand{
        width: 768px;
    }
    .brand-background{ 
        height: 367px;
        width: 769px;
    }
    .brand__photo{ 
        height: 368px;
        width: 386px;
    }
    .brand__decoration-and-text{ 
        margin-top: -5px;
        gap: 15px;
    }
    .brand__decoration-and-text__decoration{ 
        height: 92px;
        width: 12px;
        margin-left: 10px;
    }
    .brand__decoration-and-text__text-block__text_main{ 
        font-weight: 900;
        font-size: 44px;
        line-height: 40px;
        color: #222222;
    }
    .brand__decoration-and-text__text-block__text_secondary{ 

        color: #222222;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
    }
    .brand__decoration-and-text__text-block__text_secondary_accent{ 
        color: #F16D7F;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
    }
    .categories{
        gap: 20px;
        min-height: 305px;
        margin-top: 20px;
        margin-left: 0px;
    }
    .categories__blocks{
        height: 167px;
        width: 232px;
    }
    .categories__second-row{
        height: 116px;
        width: 735px;
    }
    .shop-title{
        margin-left: 0px;
        margin-top: 155px;
        width: 768px;
    }
    .shop{
        gap: 16px;
        margin-top: 70px;
        margin-left: 0px;
    }
    .browse-box{
        margin-top: 33px;
        margin-left: 0px;
    }
    .feature-box{
        margin-top: 65px;
        margin-left: 0px;
        max-width: 100%;
        height: 610px;
        gap: 0px;
    }
    .feature-box__blocks{
        width: 700px;
        min-height: 150px;
        height: 150px;
    }
    .subscribe{
        height: 614px;
    }
    .subscribe-box{
        margin-top: 50px;
        row-gap: 50px;
    }
    .subscribe-box__subscribe{
        margin-top: 0px;
    }



    .shopping-cart__text{
        margin-left: 20px;
    }
    .your-cart{
        margin-top: 57px;
        margin-left: -85px;
    }
    .your-cart__block_left{
        margin-left: 80px;
        margin-top: 10px;
        flex-direction: row;
        width: 730px; 
        height: 425px;
        gap: 15px;
    }
    .your-cart__block__buttons-block{
        gap: 45px;
        margin-top: 23px;
        margin-left: 45px;
    }
    .your-cart__block__staff-box{
        height: 306px;
        width: 734px;    
    }
    .your-cart__cheque{
        margin-left: 0px;
        margin-top: 55px;
    }
}

@media (max-width: 750px){
    body{
      width: 100%;
    }

    .header__buttons{
        gap: 0%;
        margin-top: 10px;
        margin-right: 0%;
    }
    .header__buttons__button-profile{
        width: 0px;
        height: 0px;
    }  
    .header__buttons__button-cart{
        width: 0px;
        height: 0px;
    }
    .header__buttons__button-cart__cart{
        width: 0px;
        height: 0px;
    }
    .header__logo-and-search{
        margin-left: 25px;
    }
    .header__buttons__button-cart__notify{
        margin-left: 0px;
        margin-top: 0px;
        width: 0px; 
        height: 0px;
        border-radius: 0%;
    }
    .header__buttons__button-cart__notify__text{
        font-size: 0px;
    }


    .brand{
        width: 375px;
    }
    .brand-background{ 
        height: 367px;
        width: 375px;
    }
    .brand__photo{ 
        height: 0px;
        width: 0px;
    }
    .brand__decoration-and-text{ 
        margin-top: -5px;
        gap: 15px;
    }
    .brand__decoration-and-text__decoration{ 
        height: 61px;
        width: 12px;
        margin-left: 40px;
    }
    .brand__decoration-and-text__text-block__text_main{ 
        font-weight: 900;
        font-size: 38px;
        line-height: 40px;
        color: #222222;
    }
    .brand__decoration-and-text__text-block__text_secondary{ 
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;

        color: #222222;
    }
    .brand__decoration-and-text__text-block__text_secondary_accent{ 
        color: #F16D7F;
        font-size: 20px;
        font-weight: 700;
        line-height: 29px;
    }
    .categories{
        flex-direction: column;
        gap: 30px;
        min-height: 305px;
        margin-top: 60px;
        margin-left: 0px;
    }
    .categories__blocks{
        height: 247px;
        width: 343px;
    }
    .categories__second-row{
        height: 111px;
        width: 343px;     
    }
    .shop-title{
        margin-left: 0px;
        margin-top: 70px;
        width: 375px;
    }
    .shop{
        gap: 16px;
        margin-top: 70px;
        margin-left: 0px;
    }
    .browse-box{
        margin-top: 28px;
        margin-left: -10px;
    }
    .feature-box{
        margin-top: 93px;
        margin-left: 0px;
        max-width: 100%;
        height: 610px;
        gap: 0px;
    }
    .feature-box__blocks{
        width: 375px;
        min-height: 150px;
        height: 150px;
    }
    .subscribe{
        margin-top: 50px;
        height: 550px;
    }
    .subscribe-box{
        margin-top: 50px;
        row-gap: 50px;
    }
    .subscribe-box__subscribe{
        width: 375px;
        margin-top: 0px;
    }
    .subscribe-box__subscribe__accept-block{
        height: 47px;
        width: 341px;
        
        margin-left: 20px;
    }
    .subscribe-box__subscribe__text-block{
        width:375px;
    }
    .subscribe-box__subscribe__text-block__title{
        font-weight: 700;
        font-size: 24px;
        line-height: 153.2%;
    }
    .subscribe-box__subscribe__text-block__main-text{
        font-size: 14px;
        font-weight: 700;
        line-height: 37px;
    }

    .footer{
        height: 143px;
        flex-wrap: wrap-reverse;
    }
    .footer__text-box{
        margin-top: 10px;
    }
    .footer__logos{
        margin-top: 30px;
        margin-left: 50px;
    }
    



    .shopping-cart__text{
        margin-top: -20px;
        margin-left: 100px;
    }
    .your-cart{
        margin-top: 57px;
        margin-left: 0px;
    }

    .your-cart__block{
        height: 480px;
        width: 358px;   
    }
    .your-cart__photo{
        height: 188px;
        width: 144px;
    }

    .your-cart__block_left{
        margin-left: 0px;
        margin-top: 0px;
        flex-direction: column;
        width: 358px;
        height: 600px;
        gap: 0px;
    }
    .your-cart__block__buttons-block{
        height: 49px;
        width: 350px;
        gap: 10px;
        margin-top: -10px;
        margin-left: 0px;
    }
    .your-cart__block__buttons-block__clear, 
    .your-cart__block__buttons-block__continue{
        height: 33px;
        width: 175px;

        font-size: 12px;
        line-height: 14px;
        text-transform: capitalize;

    }
    .your-cart__block__staff-box{
        margin-top: -15px;
        height: 188px;
        width: 358px; 
    }
    .your-cart__cheque{
        margin-left: 0px;
        margin-top: 45px;
    }
    .your-cart__text-block{
        margin-top: 10px;
        margin-left: -15px;
        height: 36px;
        width: 138px;
        gap: 23px;
    }
    .your-cart__text-block__title{
        font-size: 16px;
        line-height: 19px;
    }
    .your-cart__text-block__main{
        height: 200px;
        width: 144px;
        gap: 4px;
    }
    .your-cart__text-block__main__text, 
    .your-cart__text-block__main__text__accent{
        font-size: 14px;
        line-height: 17px;
    }
    .your-cart__quantity{
        height: 15px;
        width: 24px;
        font-size: 10px;
        line-height: 12px;
    }
}
      
