$main-font-color: #222222;
$footer-color: #222224;
$accent-font-color: #F16D7F;
$hover-text-color: #ffffff;
$hover-color: #F16D7F;
$notify-color: #F16D7F;
$category-font-color: #FFFFFF;
$feature-font-color: #FBFBFB;
$decoration-color: #F16D7F;
$submit-button-color: #F16D7F;
$submit-button-color-hover: #b84050;
$brand-background-color: #F1E4E6;
$shopping-cart-background: #F8F3F4;
$box-shadow-color: #00000021;
$form-fields-color: #B1B1B1;
$form-fields-border-color: #A4A4A4;
$sub-total-price-color: #4A4A4A;
$shop-blocks-color: #F8F8F8;

@mixin size ($width, $height){
    width: $width;
    height: $height;
}
@mixin display ($display: flex, $flex-direction: row, $align-items: normal, $flex-wrap: nowrap, $justify-content: flex-start){
    display: $display;
    flex-direction: $flex-direction;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
    justify-content: $justify-content;
}

.shop-title{
    @include display (flex, column, center);
    width: 1140px;
    min-height: 58px;
    margin-left: 20px;
    margin-top: 96px;
    row-gap: 5px;
    @media (max-width: 1025px) and (min-width: 750px){
        margin-left: 0px;
        margin-top: 155px;
        width: 768px;
    }
    @media (max-width: 750px){
        margin-left: 0px;
        margin-top: 70px;
        width: 375px;
    }

    &__main-text{
        position: relative;
        font-size: 30px;
        line-height: 36px;
        color: $main-font-color;
    }

    &__secondary-text{
        position: relative;
        font-size: 14px;
        line-height: 17px;  
        color: #9F9F9F;
    }
}
  
.shop{
    @include display (flex, row, center, wrap, center);
    max-width: 1140px;
    min-height: 470px;
    gap: 30px;
    margin-top: 50px;
    margin-left: 19px;
    @media (max-width: 1025px) and (min-width: 750px){
        gap: 16px;
        margin-top: 70px;
        margin-left: 0px;
    }
    @media (max-width: 750px){
        gap: 16px;
        margin-top: 70px;
        margin-left: 0px;
    }

    &__blocks{
        @include display (flex,  row,  start,  nowrap, center);
        @include size(360px , 581px);
        background: $shop-blocks-color;

        &__img{
            @include size(360px , 420px);
            &:hover{
                filter: brightness(30%);
            }
        }

        &__text-block{
            @include display (flex,  column);
            position: absolute;
            gap: 15px;
            @include size(314.8px , 116.7px);
            margin-top: 443px;
            margin-right: 14px;

            &__title{
                position: relative;
                font-size: 13px;
                line-height: 16px;
                color: #000000;
            }

            &__main-text{
                position: relative;
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: #5D5D5D;
            }

            &__price{
                position: relative;
                font-size: 16px;
                line-height: 19px;
                color: $accent-font-color;
            }
        }
    }
}
  
.browse-box{
    @include display (flex, column, center, nowrap, center);
    margin-top: 47px;
    margin-left: 19px;
    min-height: 47px;
    min-width: 211px;
    border: 1px solid #FF6A6A;
    background:  #ffffff; 
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #F26376;
    @media (max-width: 1025px) and (min-width: 750px){
        margin-top: 33px;
        margin-left: 0px;
    }
    @media (max-width: 750px){
        margin-top: 28px;
        margin-left: -10px;
    }

    &:hover{
        color: $hover-text-color;
        background: $hover-color; 
    }
}