$main-font-color: #222222;
$footer-color: #222224;
$subscribe-text-color: #222224;
$accent-font-color: #F16D7F;
$hover-text-color: #ffffff;
$hover-color: #F16D7F;
$notify-color: #F16D7F;
$category-font-color: #FFFFFF;
$feature-font-color: #FBFBFB;
$decoration-color: #F16D7F;
$submit-button-color: #F16D7F;
$submit-button-color-hover: #b84050;
$brand-background-color: #F1E4E6;
$shopping-cart-background: #F8F3F4;
$box-shadow-color: #00000021;
$form-fields-color: #B1B1B1;
$form-fields-border-color: #A4A4A4;
$sub-total-price-color: #4A4A4A;
$shop-blocks-color: #F8F8F8;

.subscribe{
    width: 100%;
    max-width: 1600px;
    height: 448px;
    min-height: 400px;
    @media (max-width: 1025px) and (min-width: 750px){
        height: 614px;
    }
    @media (max-width: 750px){
        margin-top: 50px;
        height: 550px;
    }

    &-box{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1600px;
        height: 448px;
        min-height: 400px;
        column-gap: 230px;
        @media (max-width: 1025px) and (min-width: 750px){
            margin-top: 50px;
            row-gap: 50px;
        }
        @media (max-width: 750px){
            margin-top: 50px;
            row-gap: 50px;
        }

        &__subscribe-info-block{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 359.45px;
            min-height: 150px;

            &__photo{
                width: 96px;
                height: 120px;
            }

            &__text{
                position: relative;
                height: 99px;
                width: 359px;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: $subscribe-text-color;

                &_italic{
                    position: relative;
                    font-style: italic;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    color: $subscribe-text-color;
                }
            }
        }

        &__subscribe{
            margin-top: 50px;
            min-height: 150px;
            height: 142px;
            width: 557px;
            @media (max-width: 1025px) and (min-width: 750px){
                margin-top: 0px;
            }
            @media (max-width: 750px){
                width: 375px;
                margin-top: 0px;
            }

            &__text-block{
                height: 61px;
                width: 557px;
                @media (max-width: 750px){
                    width:375px;
                }

                &__title{
                    position: relative;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 40px;
                    text-align: center;
                    color: $subscribe-text-color;
                    @media (max-width: 750px){
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 153.2%;
                    }
                }

                &__main-text{
                    position: relative;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 30.1px;
                    text-align: center;
                    color: $subscribe-text-color;
                    @media (max-width: 750px){
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 37px;
                    }
                }
            }

            &__accept-block{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                margin-top: 33px;
                margin-left: 105px;
                width: 360px;
                height: 50px;
                @media (max-width: 750px){
                    height: 47px;
                    width: 341px;
                    margin-left: 20px;
                } 

                &__email{
                    height: 43px;
                    width: 256px;
                    border-color: #E1E1E1;
                    border-radius: 20px 0px 0px 20px;
                    background: #E1E1E1;
                    position: relative;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    color: $subscribe-text-color;
                    opacity: 0.67;  
                }

                &__button{
                    height: 49px;
                    width: 100px;
                    border:none;
                    border-radius: 0px 21px 21px 0px;
                    background: $submit-button-color;

                    &:hover {
                        background: $submit-button-color-hover;
                    }

                    &:active {
                        background: $submit-button-color-hover;
                    }

                    &__text{
                        font-size: 14px;
                        line-height: 17px;
                        text-align: center;
                        color: $hover-text-color;
                    }
                }
            }
        }
    }
} 